/*Caracteristicas del contenido about*/
.icon img {
    width: 80px;
    
}
#frame-about {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    margin-top: 2%;
    margin-right: 2%;
}
/*
estilos de antes
#cabecera .titulo img{
    width: 14px;
}
*/
#cabecera .titulo img{
    width: 38px;
    float: left;
    border-radius: 99px;
}