/*Caracteristicas del contenido about*/
.icon img {
    width: 80px;
    
}
#frame-about {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: 23% 23% 23% 23%;
    justify-items: center;
    height: 100%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    background-color: #0f1040;
    align-content: center;
    align-items: center;
    color: white;
}
/*
estilos de antes
#cabecera .titulo img{
    width: 14px;
}
*/
#cabecera .titulo img{
    width: 38px;
    float: left;
    border-radius: 99px;
}