#cabecera{
    height: 22px;
}

#cabecera h3{
    display: none;
}

#profile {
    /*width: 23%;
    margin: 25% auto;
    text-align: center;*/

    height: 100%;
    margin-left: 5%;
    padding-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    background-color: #0f1040;
    background-color: #c69bff;
}

#profile > div{
    margin: 0px auto;
    width: 23%;
}
#profile > div:first-child{
    padding-top: 13%;
}


#profile h3{
    text-align: center;
}

#profile .social-net {

    text-align: center;
    font-size: 25px;
    color: white;
}

#profile>div img {
    width: 170px;
    border-radius: 99px;
    
}

.social-net .fa-github:hover{
    color: black;
}
.social-net .fa-instagram:hover{
    color: #dc0048;
}
.social-net .fa-facebook-square:hover{
    color: blue;

}
.social-net .fa-linkedin:hover{
    color: blue;
}

.responsive-photo{
    max-width: 100%;
    height: auto;
}




