#cabecera h3{
    display: none;
}

#profile {
    width: 23%;
    /*margin: 25% auto;*/
    text-align: center;
    margin: 10% 30%;
}

#profile .social-net {

    text-align: center;
    font-size: 25px;
    color: white;
}

#profile>div img {
    width: 170px;
    border-radius: 99px;
}

.social-net .fa-github:hover{
    color: black;
}
.social-net .fa-instagram:hover{
    color: #dc0048;
}
.social-net .fa-facebook-square:hover{
    color: blue;

}
.social-net .fa-linkedin:hover{
    color: blue;
 
}