@media (max-width: 1235px){
#content{
    margin: 2%;
}
}
@media (max-width: 1111px){

#content{
    margin: 1%;
}

#pie > div{
    height: 25px;
}

#container{
    height: 610px;
}

}


@media (max-width: 900px){
    #barra{
        margin: 3%;
    }
}
