@media (max-width:1352px) {
    #cabecera .titulo {
        width: 20%;
        margin: 0px auto;
    }
}


@media (max-width:1329px) {
    #barra .menu-page li {
        width: 57%;
    }

    #cabecera .titulo {
        width: 22%;
    }
}


@media (max-width: 1280px) {

    #barra {
        font-size: 16px;
    }

    #pie>div {
        font-size: 16px;
    }


    #barra .menu-page li {
        margin-top: 21%;
    }

}

@media (max-width: 1250px) {
    #barra .menu-page li {
        margin-top: 22%;
    }
}

@media (max-width: 1210px) {
    #barra .menu-page li {
        margin-top: 24%;
    }

    #cabecera .titulo {
        width: 24%;
    }
}

@media(max-width:1185px) {
    #barra .menu-page li {
        width: 60%;
    }

    #contact-form img {
        width: 275px;
        margin-top: 7%;
    }
}

@media (max-width:1135px) {
    #contact-form img {
        width: 250px;
        margin-top: 10%;
    }
}

@media (max-width:1114px) {
    #barra .menu-page li {
        margin-top: 25%;
    }
}


@media (max-width: 1100px) {
    #barra {
        font-size: 15px;
    }



    #barra .menu-page li {
        margin-top: 26%;
    }

    #cabecera .titulo {
        width: 26%;
    }
}


@media (max-width:1087px) {
    .form-table {
        border-spacing: 15px;
        margin-top: 10%;
    }

    #contact-form img {
        width: 240px;
        margin-top: 15%;
    }
}

@media (max-width: 1070px) {
    #barra .menu-page li {
        margin-top: 27%;
    }
}

@media (max-width:1039px) {
    #contact-form img {
        margin-left: 3%;
    }
}


@media (max-width: 1017px) {
    #barra .menu-page li {
        margin-top: 28%;
    }

    #cabecera .titulo {
        width: 28%;
    }

    #contact-form img {
        width: 200px;
        margin-left: 2%;
    }

    .form-table {
        border-spacing: 10px;

    }
}

@media (max-width:955px) {
    #barra .menu-page li {
        width: 68%;
    }

    #cabecera .titulo {
        width: 30%;
    }
}


@media (max-width: 935px) {
    #barra .menu-page li {
        margin-top: 30%;
    }

    #cabecera .titulo {
        width: 30%;
    }
}

@media (max-width:920px) {
    #contact-form img {
        width: 150px;
        margin-left: 6%;
        margin-top: 20%;
    }
}

@media (max-width: 916px) {
    #barra .menu-page li {
        width: 68%;
    }

    #cabecera .titulo {
        width: 33%;
        font-size: 15px;
    }
}

@media (max-width: 872px) {
    #barra .menu-page li {
        width: 68%;
        margin-top: 32%;
    }

    .icon img {
        width: 74px;
    }

}

@media (max-width:869px) {
    #contact-form img {
        margin-left: 4%;
    }
}

@media (max-width:851px) {
    #contact-form img {
        margin-top: 0%;
        width: 100px;
        margin: 0px auto;
        display: block;
    }

    form {
        float: none;
        margin: 0px auto;
        width: 51%;
    }

    .form-table {
        margin-top: 0%;
    }
}

@media (max-width: 842px) {
    #barra .menu-page li {
        width: 75%;
        margin-top: 35%;
    }

    #frame-about .description {
        font-size: 15px;
    }

}

@media (max-width:780px){
    form{
        width: 60%;
    }
}


@media (max-width: 763px) {
    #barra .menu-page li {
        width: 79%;
        margin-top: 35%;
    }

    .icon img {
        width: 65px;
    }

    #cabecera .titulo {
        width: 35%;
    }
}


@media (max-width: 750px) {
    #barra .menu-page li {
        width: 85%;
        margin-top: 38%;
    }
}


@media (max-width: 733px) {
    #barra .menu-page li {
        width: 87%;
        margin-top: 40%;
    }

    #frame-about .description {
        font-size: 14px;
    }

    #cabecera .titulo {
        width: 38%;
    }
    form{
        width: 65%;
    }
}



@media (max-width: 670px) {

    #barra .menu-page li {
        width: 90%;
        margin-top: 42%;
    }

    #barra {
        font-size: 14px;
    }

    #cabecera .titulo {
        width: 40%;
    }
}

/*Cambio en el diseño del contenedor a celular*/

@media (max-width:650px) {
    #profile h3 {
        font-size: 14px;
    }

    #barra {
        font-size: 14px;
        float: none;
        height: auto;
        width: 92%;
        border-radius: 5px 5px 0px 0px;
        margin-top: 20px;
        font-size: 13px;
    }

    #barra ul {
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    #barra .menu-page li {
        margin-top: 0%;
        display: inline;
        margin-right: 1%;
    }

    #barra .menu-page li .fas {
        margin-right: 1%;
    }


    #pie>div {
        font-size: 14px;
    }


    #cabecera {
        height: 22px !important;
    }

    #content {
        width: 96%;
        height: 59%;
    }


    #profile>div {
        width: 29%;
    }

    #pie {
        border-radius: 0px 0px 10px 10px;
        bottom: 4px;
        position: relative;
        width: 92%;
        margin-left: 4%;
        top: -2px;
    }

    #content {
        height: 83%;
    }

    form{
        width: 48%;
    }

}

@media (max-width:642px) {
    #barra {
        font-size: 12px;
    }

    #cabecera .titulo {
        font-size: 14px;
    }

    #cabecera .titulo img {
        width: 35px;
        margin-top: 2px;
    }
}



@media (max-width: 610px) {

    #barra .menu-page li {
        margin-right: 0%;
    }

    form{
        width: 50%;
    }
}



@media (max-width: 590px) {
    #barra {
        font-size: 12px;
    }

    #cabecera .titulo {
        font-size: 13px;
    }

    form{
        width: 53%;
    }

}

@media (max-width:565px) {
    #barra .menu-page li .desaparece {
        display: none;
    }

    #barra .menu-page li .fas {
        font-size: 15px;
    }

}

@media (max-width: 549px) {
    #cabecera .titulo {
        width: 42%;
    }

    .icon img {
        width: 60px;
    }
}

@media (max-width:523px) {
    #cabecera .titulo {
        width: 45%;
    }
}

@media (max-width:523px) {
    #cabecera .titulo {
        width: 48%;
    }
}

@media (max-width:457px) {
    #cabecera .titulo {
        width: 51%;
    }
}


@media (max-width: 430px) {

    #barra {
        font-size: 13px;
    }

    #pie>div {
        font-size: 13px;
    }

    #frame-about .description {
        font-size: 13px;
        margin-left: 3%;
    }

    .icon img {
        width: 55px;
    }

    #cabecera .titulo {
        width: 55%;
    }

}

@media (max-width:399px) {
    #cabecera .titulo {
        width: 59%;
    }
}

@media (max-width:372px) {
    #cabecera .titulo {
        width: 64%;
    }

    #frame-about .description {
        font-size: 12px;
    }
}


@media (max-width:343px) {
    #cabecera .titulo {
        width: 68%;
    }

    #frame-about {
        grid-template-rows: 25% 25% 25% 22%;
    }
}

@media (max-width:343px) {
    #cabecera .titulo {
        width: 72%;
    }
}

@media (max-width:343px) {
    #cabecera .titulo {
        width: 75%;
    }
}

@media (max-width:293px) {
    #cabecera .titulo {
        width: 78%;
    }

    #frame-about {
        grid-template-rows: 23% 21% 23% 21%;
    }

    #frame-about .description {
        font-size: 11px;
    }
}

@media (max-width:293px) {
    #cabecera .titulo {
        width: 84%;
    }
}

@media (max-width:293px) {
    #cabecera .titulo {
        width: 90%;
    }
}