@media (max-width:1352px){
    #cabecera .titulo{
        width: 20%;
        margin: 0px auto;
    }
}

@media (max-width:1348px){
    .text ul{
        width: 28%;
    }
}
@media (max-width:1329px) {
    #barra .menu-page li {
        width: 57%;
    }
    #cabecera .titulo {
        width: 22%;
    }
}


@media (max-width: 1280px) {

    #barra {
        font-size: 16px;
    }

    #pie>div {
        font-size: 16px;
    }


    #barra .menu-page li {
        margin-top: 21%;
    }

}

@media (max-width:1252px){
    .text ul{
        width: 30%;
    }
}


@media (max-width: 1250px) {
    #barra .menu-page li {
        margin-top: 22%;
    }
}

@media (max-width: 1210px) {
    #barra .menu-page li {
        margin-top: 24%;
    }
    #cabecera .titulo {
        width: 24%;
    }
}

@media(max-width:1185px){
    #barra .menu-page li{
        width: 60%;
    }
    .text ul{
        width: 32%;
    }
}


@media (max-width:1114px) {
    #barra .menu-page li {
        margin-top: 25%;
    }
}


@media (max-width: 1100px) {
    #barra {
        font-size: 15px;
    }

    #barra table {
        width: 105px;
    }

    #barra .menu-page li {
        margin-top: 26%;
    }
    #cabecera .titulo {
        width: 26%;
    }
    .text ul{
        width: 34%;
    }
}

@media (max-width: 1070px) {
    #barra .menu-page li {
        margin-top: 27%;
    }
}

@media (max-width:1031px){
    .text ul{
        width: 36%;
    }
}

@media (max-width: 1017px) {
    #barra .menu-page li {
        margin-top: 28%;
    }
    #cabecera .titulo {
        width: 28%;
    }
}

@media (max-width:974px){
    .text ul{
        width: 38%;
    }
}


@media (max-width:955px){
    #barra .menu-page li{
        width: 68%;
    }
    #cabecera .titulo {
        width: 30%;
    }
}


@media (max-width: 935px) {
    #barra .menu-page li {
        margin-top: 30%;
    }
    #cabecera .titulo {
        width: 30%;
    }
}

@media (max-width:923px){
    .text ul{
        width: 40%;
    }
}


@media (max-width: 916px) {
    #barra .menu-page li {
        width: 68%;
    }
    #cabecera .titulo {
        width: 33%;
        font-size: 15px;
    }
}

@media (max-width:878px){
    .text ul{
        width: 43%;
    }
}

@media (max-width: 872px) {
    #barra .menu-page li {
        width: 68%;
        margin-top: 32%;
    }
}

@media (max-width:831px){
    .responsive-photo{
        width: 60%;
    }
}

@media (max-width: 842px) {
    #barra .menu-page li {
        width: 75%;
        margin-top: 35%;
    }
    #frame-about .description{
        font-size: 15px;
    }
}

@media (max-width:815px){
    .text ul{
        width: 46%;
    }
}

@media (max-width: 763px){
    #barra .menu-page li {
        width: 79%;
        margin-top: 35%;
    }
    #cabecera .titulo{
        width: 35%;
    }
    #frame-jobs{
        font-size: 15px;
    }
    .text{
        margin-top: 5%;
    }
}


@media (max-width: 750px) {
    #barra .menu-page li {
        width: 85%;
        margin-top: 38%;
    }
}


@media (max-width: 733px) {
    #barra .menu-page li {
        width: 87%;
        margin-top: 40%;
    }
    #frame-about .description{
        font-size: 14px;
    }
    #cabecera .titulo{
        width: 38%;
    }
    .icon{
        padding-top: 6%;
    }
}

@media (max-width:697px){
    .text ul{
        width: 48%;
    }
}

@media (max-width: 670px) {

    #barra .menu-page li {
        width: 90%;
        margin-top: 42%;
    }

    #barra{
        font-size: 14px;
    }

    #cabecera .titulo{
        width: 40%;
    }
    .text ul{
        width: 50%;
    }
}

/*Cambio en el diseño del contenedor a celular*/

@media (max-width:650px) {
    #profile h3 {
        font-size: 14px;
    }

    #barra {
        font-size: 14px;
        float: none;
        height: auto;
        width: 92%;
        border-radius: 5px 5px 0px 0px;
        margin-top: 20px;
        font-size: 13px;
    }

    #barra ul {
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    #barra .menu-page li {
        margin-top: 0%;
        display: inline;
        margin-right: 1%;
    }

    #barra .menu-page li .fas {
        margin-right: 1%;
    }


    #pie>div {
        font-size: 14px;
    }


    #cabecera {
        height: 22px !important;
    }

    #content {
        width: 96%;
        height: 59%;
    }


    #profile>div {
        width: 29%;
    }

    #pie {
        border-radius: 0px 0px 10px 10px;
        bottom: 4px;
        position: relative;
        width: 92%;
        margin-left: 4%;
        top: -2px;
    }

    #content{
        height: 83%;
    }

    .icon{
        padding-top: 3%;
    }
    .text ul{
        width: 40%;
    }
}

@media (max-width:642px){
    #barra{
        font-size: 12px;
    }
    #cabecera .titulo{
        font-size: 14px;
    }
    #cabecera .titulo img{
        width: 35px;
        margin-top: 2px;
    }
}



@media (max-width: 610px) {

    #barra .menu-page li{
        margin-right: 0%;
    }
}

@media (max-width:593px){
    .text ul{
        width: 43%;
    }
}

@media (max-width: 590px){
    #barra{
        font-size: 12px;
    }
    #cabecera .titulo{
        font-size: 13px;
    }
}

@media (max-width:565px){
    #barra .menu-page li .desaparece{
        display: none;
    }
    #barra .menu-page li .fas{
        font-size: 15px;
    }

}

@media (max-width:552px){
    .text ul{
        width: 45%;
    }
}

@media (max-width: 549px){
    #cabecera .titulo{
        width: 42%;
    }
}
@media (max-width:535px){
    .icon{
        padding-top: 7%;
    }
    .text ul{
        width: 48%;
    }
}

@media (max-width:523px){
    #cabecera .titulo{
        width: 45%;
    }
}
@media (max-width:523px){
    #cabecera .titulo{
        width: 48%;
    }
}

@media (max-width:495px){
    .text ul{
        width: 50%;
    }
}

@media (max-width:474px){
    .text ul{
        width: 53%;
    }
}
@media (max-width:457px){
    #cabecera .titulo{
        width: 51%;
    }
}

@media (max-width:448px){
    .text ul{
        width: 56%;
        margin-top:6%;
    }
}


@media (max-width: 430px) {

    #barra {
        font-size: 13px;
    }

    #pie>div {
        font-size: 13px;
    }

    #frame-about .description{
        font-size: 13px;
        margin-left: 3%;
    }

    #cabecera .titulo{
        width: 55%;
    }

}

@media (max-width:425px){
    .icon{
        padding-top:15%;
        
    }
    .text ul{
        width: 60%;
    }
}

@media (max-width:399px){
    #cabecera .titulo{
        width: 59%;
    }
}

@media (max-width: 395px){
    .text ul{
        width: 64%;
    }
}

@media (max-width:387px){
    .text ul{
        margin-top: 8%;
    }
}

@media (max-width:372px){
    #cabecera .titulo{
        width: 64%;
    }
    #frame-about .description{
        font-size: 12px;
    }
    .text ul{
        width: 68%;
    }
}

@media (max-width:360px){
    .text ul{
        width: 71%;
    }
}


@media (max-width:343px){
    #frame-about{
        grid-template-rows: 25% 25% 25% 22%;
    }
}


@media (max-width:343px){
    #cabecera .titulo{
        width: 75%;
    }
    
}

@media (max-width:335px){
    .text{
        font-size: 14px;
    }
    .icon{
        padding-top: 20%;
    }
}


@media (max-width:324px){
    .text ul{
        width: 75%;
    }
    .icon{
        padding-top: 25%;
    }
}

@media (max-width:305px){
    .text ul{
        width: 80%;
    }
}

@media (max-width:293px){
    #cabecera .titulo{
        width: 78%;
    }
    #frame-about{
        grid-template-rows: 23% 21% 23% 21%;
    }
    #frame-about .description{
        font-size: 11px;
    }
}

@media (max-width:293px){
    #cabecera .titulo{
        width: 84%;
    }
}

@media (max-width:293px){
    #cabecera .titulo{
        width: 90%;
    }
}