/*Caracteristicas generales de la pagina*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #75b6ff;
    font-family: Arial, Helvetica, sans-serif;
}
/*Caracteristicas del contenedor*/
#container{
    /*border: 1px solid black;*/
    width: 90%;
    height: 600px;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #6e6be5;
    padding-top: 1%;
}

/*Caracteristicas de la cabecera*/

#cabecera{
    /*border: 1px solid black;*/
    /*margin: 25px 25px 0px 25px;*/
    border-radius: 5px;
    height: 50px;
}

#cabecera .titulo{
    line-height: 38px;
    margin-left: 55px;
}
/*

#cabecera h3{
    margin-left: 30px;
}
*/
/*Caracteristicas de la barra*/
#barra{
    /*border: 1px solid black;*/
    float: left;
    width: 20%;
    height: 80%;
    margin-left: 4%;
    font-size: 18px;
    background-color: #0f1040;
    color: #bfb36b;
    border-radius: 5px;
}
/*Estilos nuevo menu de la pagina*/
#barra .menu-page li{
    list-style: none;
    width: 55%;
    margin: 0px auto;
    margin-top: 20%;
}

#barra .menu-page li .fas{
    margin-right: 2%;
    color: #bfb36b;
}
#barra .menu-page li .fas:hover{
    color: #bfb26bce;
}

#barra .menu-page li .desaparece{
    text-decoration-line: none;
    color: white;
}

#barra .menu-page li a:hover{
    color: #ffffffb5;
}

/*Caracteristicas del contenido*/
#content{
    /*border: 1px solid black;*/
    float: left;
    width: 71%;
    height: 80%;
}

.clearfix{
    clear: both;
    float: none;
}

/*Caracteristicas del pie*/
#pie{
    background-color:#6cd272;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    top: 47px;
    position: relative;
}
#pie > div{
    height: 23px;
    font-size: 18px;
}


/*Animacion del corazon*/

.heart-animation{
    animation: latido 2s infinite;
    color: red;
}
@keyframes latido{
    0%{font-size: 12px;}
    25%{font-size: 13px;}
    50%{font-size: 14px;}
    75%{font-size: 13px;}
    100%{font-size: 12px;}
}

/*Animaciones de hover*/
